:root {
	--bl: hsl(237, 18%, 59%);
	--number-color: hsl(345, 95%, 68%);

	--title-color: hsl(0, 0%, 100%);
	--dr: hsl(236, 21%, 26%);
	--circle-color: hsl(235, 16%, 14%);
	--line-color: hsla(235, 15%, 14%, 0.486);
	--bg-color: hsl(234, 17%, 12%);

	--first-part: #2a2d43;
	--second-part: #34364a;
}

#app {
	min-height: 100vh;
	background-color: var(--bg-color);
	background-image: url('/bg-stars.svg');
}

.container {
	min-height: 100vh;
	background-image: url('/pattern-hills.svg');
	background-repeat: no-repeat;
	background-position: bottom;
	padding-top: 20em;
}

.counter-cont h1 {
	color: var(--title-color);
	text-transform: uppercase;
	font-size: 1.8em;
	text-align: center;
	letter-spacing: 0.4em;
	margin-bottom: 5em;
}

.counter {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3em;
}

.card {
	width: 9em;
	height: 8em;
	position: relative;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
		rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.circle {
	position: absolute;
	width: 0.5em;
	height: 1em;
	background-color: var(--bg-color);
}

.circle.left {
	border-radius: 0 0.5em 0.5em 0;
	top: 3.5em;
}

.circle.right {
	border-radius: 0.5em 0 0 0.5em;
	top: 3.5em;
	right: 0;
}

.top,
.bottom {
	font-size: 5.4em;
	color: var(--number-color);
	height: 50%;
	text-align: center;
	overflow: hidden;
}

.top {
	background-color: var(--first-part);
	transform-origin: bottom;
	line-height: 1.5;
}

.bottom {
	border-top: 1px solid var(--line-color);
	background-color: var(--second-part);
	line-height: 0;
}

.segment-overlay {
	position: absolute;
	top: 0;
	height: 100%;
	width: 9em;
	perspective: 400px;
}

.segment-overlay .top-overlay,
.segment-overlay .bottom-overlay {
	position: absolute;
	overflow: hidden;
	text-align: center;
	width: 100%;
	height: 50%;
	color: var(--number-color);
	font-size: 5.4em;
}

.top-overlay {
	background-color: var(--first-part);
	top: 0;
	line-height: 1.5;
	transform-origin: bottom;
}

.bottom-overlay {
	border-top: 1px solid var(--line-color);
	background-color: var(--second-part);
	bottom: 0;
	line-height: 0;
	transform-origin: top;
}

.segment-overlay.flip .top-overlay {
	animation: flip-top 0.8s linear;
}

.segment-overlay.flip .bottom-overlay {
	animation: flip-bottom 0.8s linear;
}

@keyframes flip-top {
	0% {
		transform: rotateX(0deg);
	}
	50%,
	100% {
		transform: rotateX(-90deg);
	}
}

@keyframes flip-bottom {
	0%,
	50% {
		transform: rotateX(90deg);
	}
	100% {
		transform: rotateX(0deg);
	}
}
