:root {
	/* Background color */
	--bg-color: hsl(234, 17%, 12%);

	/* Letters colors */
	--number-color: hsl(345, 95%, 68%);
	--title-color: hsl(0, 0%, 100%);
	--letter-color: hsl(237, 18%, 59%);

	/* Card colors */
	--first-part: #2a2d43;
	--second-part: #34364a;

	/* Complements colors */
	--circle-color: hsl(235, 16%, 14%);
	--line-color: hsla(235, 15%, 14%, 0.651);

	/* Various variables */
	--card-width: 13em;
	--card-height: 12em;
	--font-size: 7em;
	--line-height: 1.75;
	--border-radius: 0.5em;
	--circle-top: 5.5em;
}

@media (1024px < width <= 1440px) {
	.container {
		padding-top: 12em;
	}

	.counter {
		gap: 3em;
	}

	.counter-cont h1 {
		font-size: 2em;
		letter-spacing: 0.4em;
		margin-bottom: 5em;
	}

	.card {
		margin-bottom: 3em;
	}

	.segment-cont p {
		font-size: 1.2em;
		letter-spacing: 0.5em;
	}

	.circle {
		width: 0.5em;
		height: 1em;
	}

	.line {
		top: 5.95em;
	}

	.links-cont {
		bottom: 4rem;
		gap: 2em;
	}

	.links-cont svg {
		width: 44px;
		height: 44px;
	}
}

@media (768px < width <= 1024px) {
	:root {
		--card-width: 11em;
		--card-height: 10em;
		--font-size: 6em;
		--line-height: 1.7;
		--circle-top: 4.5em;
	}

	.container {
		padding-top: 10em;
	}

	.counter {
		gap: 2em;
	}

	.counter-cont h1 {
		font-size: 1.8em;
		letter-spacing: 0.4em;
		margin-bottom: 4em;
	}

	.card {
		margin-bottom: 2em;
	}

	.segment-cont p {
		font-size: 1em;
		letter-spacing: 0.5em;
	}

	.circle {
		width: 0.5em;
		height: 1em;
	}

	.line {
		top: 5em;
	}

	.links-cont {
		bottom: 3rem;
		gap: 1.8em;
	}

	.links-cont svg {
		width: 34px;
		height: 34px;
	}
}

@media (425px < width <= 768px) {
	:root {
		--card-width: 6em;
		--card-height: 5em;
		--font-size: 2.8em;
		--line-height: 1.8;
		--border-radius: 0.25em;
		--circle-top: 2.25em;
	}

	.container {
		padding-top: 8em;
	}

	.counter {
		gap: 1.6em;
	}

	.counter-cont h1 {
		font-size: 1.2em;
		letter-spacing: 0.3em;
		margin-bottom: 3em;
	}

	.card {
		margin-bottom: 1.2em;
	}

	.segment-cont p {
		font-size: 0.5em;
		letter-spacing: 0.3em;
	}

	.circle {
		width: 0.25em;
		height: 0.5em;
	}

	.circle.left {
		top: 2.25em;
	}

	.circle.right {
		top: 2.25em;
	}

	.line {
		top: 2.5em;
	}

	.links-cont {
		bottom: 3rem;
		gap: 1.4em;
	}

	.links-cont svg {
		width: 24px;
		height: 24px;
	}
}

@media (375px < width <= 425px) {
}

#app {
	min-height: 100vh;
	background-color: var(--bg-color);
	background-image: url('/bg-stars.svg');
}

.container {
	min-height: 100vh;
	background-image: url('/pattern-hills.svg');
	background-repeat: no-repeat;
	background-position: bottom;
}

.counter-cont h1 {
	color: var(--title-color);
	text-transform: uppercase;
	text-align: center;
}

.counter {
	display: flex;
	align-items: center;
	justify-content: center;
}

.segment-cont p {
	color: var(--letter-color);
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

.card {
	width: var(--card-width);
	height: var(--card-height);
	position: relative;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
		rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.top,
.bottom {
	font-size: var(--font-size);
	color: var(--number-color);
	height: 50%;
	text-align: center;
	overflow: hidden;
}

.top {
	background-color: var(--first-part);
	transform-origin: bottom;
	line-height: var(--line-height);
}

.bottom {
	background-color: var(--second-part);
	line-height: 0;
}

.segment-overlay {
	width: var(--card-width);
	height: 100%;
	position: absolute;
	top: 0;
	perspective: 400px;
}

.segment-overlay .top-overlay,
.segment-overlay .bottom-overlay {
	position: absolute;
	overflow: hidden;
	text-align: center;
	width: 100%;
	height: 50%;
	color: var(--number-color);
	font-size: var(--font-size);
}

.top-overlay {
	background-color: var(--first-part);
	top: 0;
	line-height: var(--line-height);
	transform-origin: bottom;
}

.bottom-overlay {
	background-color: var(--second-part);
	bottom: 0;
	line-height: 0;
	transform-origin: top;
}

.segment-overlay.flip .top-overlay {
	animation: flip-top 0.8s linear;
}

.segment-overlay.flip .bottom-overlay {
	animation: flip-bottom 0.8s linear;
}

.circle {
	position: absolute;
	background-color: var(--bg-color);
}

.circle.left {
	border-radius: 0 var(--border-radius) var(--border-radius) 0;
	top: var(--circle-top);
}

.circle.right {
	border-radius: var(--border-radius) 0 0 var(--border-radius);
	top: var(--circle-top);
	right: 0;
}

.line {
	width: 100%;
	height: 1px;
	position: absolute;
	background-color: var(--line-color);
}

.links-cont {
	width: 100%;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
}

@keyframes flip-top {
	0% {
		transform: rotateX(0deg);
	}
	50%,
	100% {
		transform: rotateX(-90deg);
	}
}

@keyframes flip-bottom {
	0%,
	50% {
		transform: rotateX(90deg);
	}
	100% {
		transform: rotateX(0deg);
	}
}
